

/* ------ Accordion Logic ------ */

.Accordion { overflow: hidden; }

.Accordion.collapsed-state > :nth-child(2) { max-height: 0; }

.Accordion.expanded-state > :nth-child(2) { max-height: 100vh; }


/* ------ Accordion Styling ------ */

.Accordion > :nth-child(1) {
  padding: var(--ui-padding);
}

.Accordion > :nth-child(1):hover {
  background-color: var(--light-grey-5);
  transition: background-color 0.1s;
}

.Accordion > :nth-child(1):active {
  color: var(--off-white);
  background-color: var(--dark-grey-1);
}

.Accordion > :nth-child(1):after {
  float: right;
}

.Accordion.collapsed-state > :nth-child(1):after {
  content: var(--plus-sign);
}

.Accordion.expanded-state > :nth-child(1):after {
  content: var(--minus-sign);
}

.Accordion > :nth-child(2) {
  transition: max-height 0.3s ease-in-out;
}
