

body {
  --off-white: hsl(0, 0%, 95%);
  --light-grey-5: hsl(0, 0%, 90%);
  --light-grey-4: hsl(0, 0%, 77%);
  --light-grey-3: hsl(0, 0%, 67%);
  --light-grey-2: hsl(0, 0%, 57%);
  --mid-grey: hsl(0, 0%, 50%);
  --dark-grey-1: hsl(0, 0%, 40%);
  --black: hsl(0, 0%, 5%);
  --light-grey-opaque: hsla(0, 0%, 0%, 0.4);
  --dark-grey-opaque: hsla(0, 0%, 0%, 0.6);
  --light-red-5: hsl(355, 85%, 90%);
  --blue: blue;
}

body {
  --ui-border-radius: 3px;
  --ui-padding: 0.35em 0.7em;
}

body {
  --plus-sign: '\2B';
  --minus-sign: '\2212';
}

body {
  font-family: "Segoe UI", "Roboto", "San Francisco", "Ubuntu", sans-serif;
}


/* ------ Global Styles ------ */

.fit-viewport,
.modal-dialog-background,
.Loading-Screen
{
  left: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.center-content,
.modal-dialog-background,
.Loading-Screen
{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.top-divider {
  border-top: 1px;
  border-top-color: var(--light-grey-4);
  border-top-style: solid;
}

.bottom-divider {
  border-bottom: 1px;
  border-bottom-color: var(--light-grey-4);
  border-bottom-style: solid;
}

.row-gaps > :nth-child(n+1):nth-last-child(n+2) { margin-bottom: 0.35em; }

.column-gaps > :nth-child(n+1):nth-last-child(n+2) { margin-right: 0.7em; }


/* ------ Panels ------ */

.panel,
.error-panel
{
  border-radius: var(--ui-border-radius);
  box-shadow: 5px 5px 5px var(--light-grey-opaque);
  padding: var(--ui-padding);
}

.panel {
  background-color: var(--light-grey-5);
}

.error-panel {
  background-color: var(--light-red-5);
}

.modal-dialog-background {
  background-color: var(--dark-grey-opaque);
}


/* ------ Highlighting ------ */

body.help-highlight .highlightable {
  color: var(--blue);
  text-decoration: underline var(--blue);
}


/* ------ Scroll Bars ------ */

::-webkit-scrollbar {
  background-color: var(--light-grey-5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-grey-3);
  border-radius: 5px;
}


/* ------ Buttons ------ */

.solid-button,
.text-button,
.outline-button
{
  border-radius: var(--ui-border-radius);
}

.solid-button,
.text-button,
.outline-button,
.solid-split-button > *
{
  padding: var(--ui-padding); 
  transition: background-color 0.3s;
}

.solid-button:hover,
.text-button:hover,
.outline-button:hover,
.solid-split-button > :hover
{
  background-color: var(--mid-grey);
  color: var(--off-white);
}

.solid-button:active,
.text-button:active,
.outline-button:active,
.solid-split-button > :active
{
  background-color: var(--black);
}

.solid-button:disabled,
.text-button:disabled,
.outline-button:disabled
{
  color: var(--mid-grey);
}

.solid-button,
.solid-split-button > *
{
  background-color: var(--light-grey-4);
}

.solid-button:disabled,
.solid-split-button > :disabled
{
  background-color: var(--light-grey-4);
}

.text-button,
.text-button:disabled,
.outline-button,
.outline-button:disabled
{
  background-color: inherit;
}

.outline-button {
  border-width: 1px;
  border-style: solid;
}

.solid-split-button {
  display: flex;
  flex-flow: row nowrap;
}

.solid-split-button > :nth-child(1) {
  border-top-left-radius: var(--ui-border-radius);
  border-bottom-left-radius: var(--ui-border-radius);
  border-right: 1px solid var(--light-grey-2);
}

.solid-split-button > :nth-child(2) {
  border-top-right-radius: var(--ui-border-radius);
  border-bottom-right-radius: var(--ui-border-radius);
}
