

body, p {
	margin: 0;
}

button {
	background-color: initial;
	border-width: 0;
	border-style: none;
	border-color: initial;
	color: initial;
	font-family: inherit;
	font-size: initial;
	padding: 0;
	text-align: initial;
}

button:focus {
	outline-width: 0;
}

dl {
	margin-block-start: 0;
	margin-block-end: 0;
}

dd {
	margin-inline-start: 0;
}
